.intro {
  padding: 64px 0;

  &__icon {
    margin-top: 16px;
    max-width: 50px;
    max-height: 40px;

    @include media-breakpoint-down(sm) {
      margin: 16px auto;
    }
  }

  &__description {
    h2 {
      margin-bottom: 24px;
    }

    p {
      margin-bottom: 32px;
    }

    &__title {
      strong {
        color: $primary !important;
      }
    }
  }

  &__text {
    margin-bottom: 16px;

    h5 {
      margin-top: 12px;
    }

    p {
      margin-bottom: 6px;
    }
  }
}

.feature-boxes {
  &__item {
    @include media-breakpoint-down(sm) {
      margin-top: 42px;
    }

    &:first-child {
      @include media-breakpoint-down(sm) {
        margin-top: 0;
      }
    }
  }

  @include media-breakpoint-up(xs) {
    margin-top: 36px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    padding-right: 24px;
    display: block;
    position: relative;
    margin: 36px auto 0 auto;
    padding-left: 24px;
  }
}
